<a href="https://colab.research.google.com/github/Limm-jk/Coding-YaHack/blob/master/boston_house.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import tensorflow as tf
import pandas as pd

In [4]:
# 1978년의 보스턴 집값 데이터
path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(path)

In [5]:
# 마지막 줄은 집값의 중간값
boston.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [7]:
print(boston.columns)

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [8]:
iv = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
dv = boston[['medv']]

print(iv.shape, dv.shape)

(506, 13) (506, 1)

In [9]:
# 모델 구조
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X,Y)
model.compile(loss="mse")

In [13]:
# model.fit(iv,dv,epochs=1000,verbose=0)
model.fit(iv,dv,epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 26.5794
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 26.4665
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 26.7853
Epoch 4/10
16/16 [==============================] - 0s 911us/step - loss: 26.6940
Epoch 5/10
16/16 [==============================] - 0s 990us/step - loss: 26.7903
Epoch 6/10
16/16 [==============================] - 0s 993us/step - loss: 26.3760
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 26.5944
Epoch 8/10
16/16 [==============================] - 0s 991us/step - loss: 26.5981
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 26.4061
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 26.4523

In [14]:
model.predict(iv[0:5])

array([[28.09158 ],
       [23.615541],
       [29.266556],
       [28.672491],
       [28.018536]], dtype=float32)

In [15]:
dv[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [16]:
# 수식확인
model.get_weights()

[array([[-0.08808015],
        [ 0.0737519 ],
        [-0.05853241],
        [ 3.4560106 ],
        [ 1.5430388 ],
        [ 3.9214637 ],
        [ 0.01550272],
        [-0.8737215 ],
        [ 0.14436945],
        [-0.01104828],
        [ 0.03681093],
        [ 0.01528568],
        [-0.58574885]], dtype=float32), array([2.2616313], dtype=float32)]