<a href="https://colab.research.google.com/github/Limm-jk/Coding-YaHack/blob/master/lemonade_pre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import tensorflow as tf

In [9]:
# 데이터 준비
path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
lemon_data = pd.read_csv(path)

In [10]:
# 데이터 확인
lemon_data.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [11]:
# 독립변수와 종속변수를 분리
iv = lemon_data[['온도']]
dv = lemon_data[['판매량']]

print(iv.shape, dv.shape)

(6, 1) (6, 1)

In [12]:
# 모델 만들기
x = tf.keras.layers.Input(shape=[1])
y = tf.keras.layers.Dense(1)(x)
model = tf.keras.models.Model(x,y)
model.compile(loss='mse')

In [16]:
# 학습
# model.fit(iv, dv, epochs=10000, verbose=0)
model.fit(iv, dv, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 1ms/step - loss: 0.0019
Epoch 2/10
1/1 [==============================] - 0s 4ms/step - loss: 0.0019
Epoch 3/10
1/1 [==============================] - 0s 970us/step - loss: 0.0019
Epoch 4/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0019
Epoch 5/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0019
Epoch 6/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0019
Epoch 7/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0019
Epoch 8/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0019
Epoch 9/10
1/1 [==============================] - 0s 1ms/step - loss: 0.0019
Epoch 10/10
1/1 [==============================] - 0s 1ms/step - loss: 0.0019

In [17]:
model.predict(iv)

array([[40.074646],
       [42.050694],
       [44.02674 ],
       [46.00279 ],
       [47.978836],
       [49.954884]], dtype=float32)

In [18]:
model.predict([[15]])

array([[30.19441]], dtype=float32)